#packages 
langchain
langchain-huggingface
pinecone
python-dotenv
langchain-community
langchain-pinecone
pypdf
langchain-text-splitters
langchain
groq
#PromptTemplate
transformers
langchain_groq
tiktoken
tokenizers
docx
document
docx2txt